@model PaginationModel
@{
    if( Model is null || Model.TotalPages < 2 || !Model.HasButtons ) {
        return;
    }
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        @foreach( var button in Model.Buttons ) {
            <li class="page-item @button.IsDisabled.TrueFalse("disabled")@Html.Raw(button.IsActive.TrueFalse("active\" aria-current=\"page"))">
                @if( button.Value > 0 ) {
                    <a class="page-link" href="@Model.GetUrl(button)">@button.Title</a>
                } else {
                    <span class="page-link">@button.Title</span>
                }
            </li>
        }
    </ul>
</nav>