@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Hello world</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    Welcome to your new app.

                    <SurveyPrompt Title="How is Blazor working for you?" />
                </div>
            </div>
        </div>
    </div>
</div>