<div class="fallback-spinner">
    <div class="loading">
        <div role="status" class="spinner-border text-primary">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>