@inherits LayoutComponentBase

<div class="wrapper">
    <Sidebar />

    <div class="main">
        <NavBar />

        <main class="content">
            @Body
        </main>

        <Footer />
    </div>
</div>