@model PostsCategoriesViewModel
<partial name="_BreadcrumbPartial" model="Model.Breadcrumb" />
@if( Model.Categories != null && Model.Categories.Any() ) {
    <div class="category">
        @foreach( var item in Model.Categories ) {
            <h2>
                <a href="@LinkBuilder.Post.CategoryList(item.Alias)">@item.Title</a>
            </h2>
        }
    </div>

    <partial name="_PaginationPartial" model="Model.Pagination" />
} else {
    <p>Not items</p>
}