@model PostsViewModel
<partial name="_BreadcrumbPartial" model="Model.Breadcrumb" />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach( var item in Model.Posts ) {
        <div class="col">
            <partial name="_PostCardPartial" model="item" />
        </div>
    }
</div>