@page "/posts/edit/{id:int}"
@using Uzumachi.UzuBlog.Admin.Infrastructure.FormModels
@using Uzumachi.UzuBlog.Domain.Dtos
@inject IPostService PostService
@inject IJSRuntime JSRuntime

<div class="container-fluid p-0">
    @if( PostFM is null ) {
        <Loading />
    } else {
        <PageTitle>Post</PageTitle>

        <a href="/posts/new" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> New post</a>

        <div class="mb-3">
            <h1 class="h3 mb-3">Edit post</h1>
        </div>

        <PostForm Post="PostFM" OnValidSubmit="SubmitEdit" />
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    PostFormModel? PostFM = null;

    protected override async Task OnParametersSetAsync() {
        var postDto = await PostService.GetByIdAsync(Id);

        if( postDto is null ) {

        } else {
            PostFM = postDto.AdaptToPostFormModel();
        }
    }

    async Task SubmitEdit() {
        Console.WriteLine("SubmitEdit");
        await JSRuntime.InvokeVoidAsync("console.log", PostFM);
    }
}
