@page "/posts/new"
@using Uzumachi.UzuBlog.Admin.Infrastructure.FormModels
@using Uzumachi.UzuBlog.Domain.Dtos

<PageTitle>New Post</PageTitle>
<Breadcrumbs Model="breadcrumb" />
<div class="container-fluid p-0">
    <h1 class="h3 mb-3">New post</h1>

    <PostForm Post="PostFM" OnValidSubmit="SubmitCreate" />
</div>

@code {
    PostDto Post = new();
    PostFormModel PostFM = new();
    BreadcrumbModel breadcrumb =  new();

    protected override void OnInitialized() {
        breadcrumb.Add("Home", "/").Add("Posts", "/posts").Add("New post");
    }

    void SubmitCreate() {
        Console.WriteLine("SubmitCreate");
    }
}
